body{
    margin: 0;
    padding: 0;
}

.logo{
    height: 4rem;
    width: 4rem;
    margin-left: 5rem;
}
.cc-navbar{
    background-color: #00c4c1;
    color: black;
    font-weight: bold;
    height: 150px;
    margin-top: 4rem;
}
.navbar{
    position: fixed !important;
    z-index: 10;
    top: 0;
    right: 0;
    left: 0;
     background-color: #00c4c1;
    color: black;
    font-weight: bold;
    height: 100px;
    
    
}
.nav-link{
    margin-left: 40px !important;
}
.nav-item {
    margin-left: 70px !important;
}




.nav-item ul li{
    list-style-type: none;
    list-style: none;
}
.fa-facebook{
    color: rgb(4, 62, 148);
}
.fa-twitter{
    color: rgb(4, 62, 148);
}
.fa-phone{
    color: #fff;
    
}

.fa-envelope{
    color: #fff;
}
.logo1{
    height: 6rem;
   width: 6rem;
   margin-left: 4rem;
}


.cc-navbar ul li a{
text-decoration: none;
color: black;
}
.cc-navbar ul{
    margin-top: 1rem;
}
.cc{
    background-color: orangered;
}
.lien{
    text-align: center;
    text-decoration: none;
}




 .text{ 
    display: flex;
    z-index: 5;
    font-size: 16px;
     flex-wrap: wrap;

}
.okk{
     background-color: #00c4cc;
     height: 525px;
    
}
.okk1{
     height: 525px;
}
.okk1 img{ width: 100%;
height: 100%;
}




/* .contai{
    background-color: orangered;
    height: 7rem;
    width: 100%;
    border: black solid 1pxs;
} */
/* .contacol{
font-weight: bold;
font-size: 23px;
margin-left: 50px;
} */
.contacol1{
    position: absolute;
    /* margin-left: %; */
    background-color: #00c4cc;
}
.contacol1 h1{
    margin-top: 30px;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}
/*footer*/
.foot{
    background-color: #00c4c1;
}
.col-md-3 img{
    width: 150px;
    height: 150px;
}
.col-md-2 a{
   font-size: 30px;;
}
.cc{
    align-items: center;
    text-decoration: none;
}
.cool{
    text-decoration: none;
}
.col-md-5 p{
    font-size: 15px;
    font-weight: bold;
}
.lien  {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
     background-color: #00c4c1;
}
@media only screen and (max-width: 802px) { .lien{
    width: 200px;
    font-size: 10px;
    align-items: center;
    margin-top: -25px;
    margin-left: 250px;
}
.cool{
    font-size: 15px;
    text-align: left;
    text-decoration: none;

}

.nav-item{
    background-color: #00eaff;
    opacity: 0.6;
    width: 150px;}
}
.text{
    font-size: 12px;
    padding: 5px 5px ;
    text-align: center;
    /* height: 375px; */
}
.okk{
    height: 375px;
    margin-top: 50px;
}
.lien{
    margin-right: 35px;
    width: 100px;
}