body{
    margin: 0;
    padding: 0;
}

.logo{
    height: 4rem;
    width: 4rem;
    margin-left: 5rem;
}
.logo1{
     height: 6rem;
    width: 6rem;
    margin-left: 4rem;
}
.cc-navbar{
    background-color: #00c4c1;
    color: black;
    font-weight: bold;
    height: 200px;
}
.navbar{
    top: 0;
    right: 0;
    left: 0;
     background-color: #00c4c1;
    color: black;
    font-weight: bold;
    height: 100px;
    width: 100%;
     position: fixed;
     z-index: 10;
     margin-top: -10px;
}
.nav-item {
    margin-left: 5rem !important;
}
.nav-item a{
    color: white !important;
}

.nav-item ul li{
    list-style-type: none;
    list-style: none;
}
.fa-facebook{
    color: rgb(4, 62, 148);
}
.fa-twitter{
    color: rgb(4, 62, 148);
}
.fa-phone{
    color: #fff;
    
}

.fa-envelope{
    color: #fff;
}

.ssf{
    background-color: black;
    
  }
  .fot h4{
    color: white !important;
  }
  .fot a{
    text-decoration: none;
    color: black !important;
  }
  .fot i{
    margin-right: 7px;
  }
.cc-navbar ul li a{
text-decoration: none;
color: black;
}
.cc-navbar ul{
    margin-top: 1rem;
}

.caroussel{
margin-top: 95px;
height: 500px;
width: 100%;
}
.caroussel img{
    width: 100%;
    height: 100%;
}
.carouselt{
    
    background-color:gainsboro;
    margin-top: 50px !important;
    height: 550px;

}
.carouselt h1{
    color: green;
    text-align: center;
    font-weight: bold;
    margin-top:50px;
}
.ouaga{
    font-weight: 700;
    margin-top: 50px;
}
.num a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    margin-top: 50px;

}

.num i{
    color: orangered;
    margin-top: 10px;
}
.num h2{
    color: green;
    font-weight: bold;
    margin-top: 50px;
}
.nume a{
    text-decoration: none;
    color: black;
    font-weight: 700;
   
}

.nume i{
    color: orangered;
    margin-top: 10px;
}
.nume{
    margin-top: 50px !important;
}


/*footer*/
.foot{
    background-color: #00c4c1;
}
.col-md-3 img{
    width: 150px;
    height: 150px;
}
.col-md-2 a{
   font-size: 30px;;
}
.cc{
    align-items: center;
    background-color: rgb(181, 232, 255);
    font-weight: bold !important;
    margin-top: 75px !important;
}
.col-md-5 p{
    font-size: 15px;
    font-weight: bold;
}
.cool{
    text-decoration:none ;
}
.lien  {
    font-size: 12px;
    padding: 5px;
     background-color: white !important;
     text-align: center;
     
}
.lien a{
    text-decoration: none;
    font-weight: bold;
    color: black !important;
}
@media only screen and (max-width: 802px) { .lien{
    width: 200px;
    font-size: 10px;
    align-items: center;
    margin-top: -35px;
    margin-left: 250px;
    text-align: center;
}
.cool{
    font-size: 15px;
    text-align: left;
    text-decoration: none;
}
.nav-item{
    background-color: #00eaff;
    opacity: 0.6;
    width: 125px;
}
}
