body {
  margin: 0;
  padding: 0;
}

.logo {
  height: 4rem;
  width: 4rem;
  margin-left: 5rem;
}
.logo1{
     height: 6rem;
    width: 6rem;
    margin-left: 4rem;
}
.cc-navbar{
    background-color: #00c4cc;
    color: black;
    font-weight: bold;
    height: 200px;
}
.navbar {
  background-color: #00c4cc;
  color: black;
  font-weight: bold;
  height: 100px;
  width: 100%;
  position: fixed !important;
  z-index: 10;
  margin-top: -10px;
}
.nav-item {
  margin-left: 5rem !important;
}
.nav-item a{
    color: white !important;
}
/* hjkl;? */

.carousel-caption h5{
     color: #00eaff;
     font-size: 2rem;
     margin-bottom: 290px;
     margin-right: 222px;
     margin-left: -30px;
}
.carousel-caption p{
  font-size: 1.4rem;
  color: #fff;
}
/* .cap{
  width: 100%;
  height: 25%;
} */
.cap1, .cap{
  width: 1400px !important;
  height: 625px !important;
  margin-left: 11rem;
}
/* dfghjhnjchdbuj  */
.rdv{
    height: 7.5rem;
    background-color: rgb(102, 203, 250);
    
    
}
.echange{
    background-color: #00c4cc;
    font-size: 1.1rem;
    font-weight: bold;
    width: 450px;
    text-align: center;
    padding: 5px;
    margin-top: 1rem;

}
.page{
    font-size: 25px;
    margin-left: 40px;
}
.lien a{
    font-size: 13px;
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
    color: black;
   
}
.lien{
    
    margin-top: 45px;
     background-color: white;
     width: 200px;
     text-align: center;
}
.sect{
    margin-top: 120px;
}
.num li a {
  margin-right: 2rem !important;

  color: black;
    }
.cc-navbar ul li a{
text-decoration: none;
color: black;
}
.serv{
    font-size: 0.8rem;
    font-weight: bold;
}
.card img{
  border-radius: 50%;
 
}
#bjr:hover{
    
    transform: scale(0.8);
  }
#bjr1:hover{
    
    transform: scale(0.8);
  }
#bjr2:hover{
    
    transform: scale(0.8);
  }
#bjr3:hover{
    
    transform: scale(0.8);
  }
.card{
    margin-top: 75px !important;
}



/*footer*/
.foot{
    background-color: #00c4c1;
    
}
.col-md-3 img{
    width: 150px;
    height: 150px;
}
.col-md-2 a{
   font-size: 30px;;
}
.cc{
    align-items: center;
    background-color: rgb(102, 203, 250);
    font-weight: bold;
    margin-top: 50px !important;
}
.col-md-5 p{
    font-size: 15px;
    font-weight: bold;
}

.fa-facebook{
    color: rgb(4, 62, 148);
}
.fa-twitter{
    color: rgb(4, 62, 148);
}
.fa-phone{
    color: #fff;
    
}

.fa-envelope{
    color: #fff;
}

.ssf{
    background-color: black;
    
  }
  .fot h4{
    color: white !important;
  }
  .fot a{
    text-decoration: none;
    color: black !important;
  }
  .fot i{
    margin-right: 7px;
  }


@media only screen and (max-width: 802px){
    .navbar-nav{
        text-align: right;
        margin-bottom: 15px;
        display: inline-flex;
        
    }
    .logo{
        float: left;
    }
    .page{
    font-size: 15px;
    margin-left: 0px;}
    .lien a{
    font-size: 10px;
   
}
.carousel-item img{
    width: 100%;
    height: 30% !important;
}
.lien{
    width: 200px;
    font-size: 10px;
    align-items: center;
    margin-top: -35px;
    margin-left: 250px;
    text-decoration: none;
}
.cool{
    font-size: 15px;
    text-align: left;
    text-decoration: none;
}
.nav-item{
    background-color: #00eaff;
    opacity: 0.6;
    width: 150px;
}
.col-md-3 img{
    width: 100px;
    height: 100px;
}

    
}