/* entete */
body {
  margin: 0;
  padding: 0;
}

.logo {
  height: 4rem;
  width: 4rem;
  margin-left: 5rem;
}
.logo1{
     height: 6rem;
    width: 6rem;
    margin-left: 4rem;
}
.cc-navbar{
    background-color: #00eaff;
    color: black;
    font-weight: bold;
    height: 200px;
}
.navbar {
  background-color: #00eaff;
  color: black;
  font-weight: bold;
  height: 100px;
  width: 100%;
  position: fixed !important;
  z-index: 10;
  margin-top: -10px;
}
.nav-item {
  margin-left: 5rem !important;
}
.nav-item a{
    color: white !important;
}
/* bande orange et lienn  */
.rdv{
    height: 7.5rem;
    background-color:#00c4cc;
}
.echange{
    background-color: #00c4cc;
    font-size: 1.1rem;
    font-weight: bold;
    width: 450px;
    text-align: center;
    padding: 5px;
    margin-top: 1rem;

}
.page{
    font-size: 25px;
    margin-left: 40px;
}
.lien a{
    font-size: 13px;
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
   color: black !important;
}
.sect{
    margin-top: 120px;
}
.copy{
    font-weight: bold;
    color: white !important;
    margin-top: 5px;
}
.cc-navbar ul li a{
text-decoration: none;
color: black;
}
.serv{
    font-size: 0.8rem;
    font-weight: bold;}
    

.image{
    width: 100%;
    height: auto;
}
    .image img{
        width: 498px;
        height: 498px;
        border-radius: 10px;
    }
   
.cccc p{
    color: red;
}
.cccc .image {
    width: 500px;
    height: 500px;
    

}

#Ima:hover{
    transform: scale(0.5);
}
/*footer*/
.foot{
    background-color: #00c4c1;
}
.col-md-3 img{
    width: 150px;
    height: 150px;
}
.col-md-2 a{
   font-size: 30px;;
}
.cc{
    align-items: center;
    text-decoration: none;
    font-weight: bold;

}
.cool{
    text-decoration: none;
}
.col-md-5 p{
    font-size: 15px;
    font-weight: bold;
}
.lien  {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
     background-color: #e6f8f8;
}

.fa-facebook{
    color: rgb(4, 62, 148);
}
.fa-twitter{
    color: rgb(4, 62, 148);
}
.fa-phone{
    color: #fff;
    
}

.fa-envelope{
    color: #fff;
}

.ssf{
    background-color: black;
    
  }
  .fot h4{
    color: white !important;
  }
  .fot a{
    text-decoration: none;
    color: black !important;
  }
  .fot i{
    margin-right: 7px;
  }


@media only screen and (max-width: 802px) { .lien{
    width: 200px;
    font-size: 10px;
    align-items: center;
    margin-top: -25px;
    margin-left: 250px;
}
.cool{
    font-size: 15px;
    text-align: left;
    text-decoration: none;

}

.nav-item{
    background-color: #00eaff;
    opacity: 0.6;
    width: 150px;}
}