/* entete */
body {
  margin: 0;
  padding: 0;
}

.logo {
  height: 4rem;
  width: 4rem;
  margin-left: 5rem;
}
.logo1{
     height: 6rem;
    width: 6rem;
    margin-left: 4rem;
}
.cc-navbar{
    background-color: #00eaff;
    color: black;
    font-weight: bold;
    height: 200px;
}
.navbar {
  background-color: #00eaff;
  color: black;
  font-weight: bold;
  height: 100px;
  width: 100%;
  position: fixed !important;
  z-index: 10;
  margin-top: -10px;
}
.nav-item {
  margin-left: 5rem !important;
}
/* bande orange et lienn  */
.rdv{
    height: 7.5rem;
    background-color: orangered;
}
.echange{
    background-color: #00c4cc;
    font-size: 1.1rem;
    font-weight: bold;
    width: 450px;
    text-align: center;
    padding: 5px;
    margin-top: 1rem;

}
.page{
    font-size: 25px;
    margin-left: 40px;
}
.lien a{
    font-size: 13px;
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
   
}
.lien{
    
    margin-top: 45px;
     background-color: #00c4c1;
     
     width: 200px;
     text-align: center;
}
.sect{
    margin-top: 120px;
}
.copy{
    font-weight: bold;
    color: white !important;
    margin-top: 5px;
}
.ff{
    background-color: black;
    height: 2rem;}

    num li a {
  margin-right: 2rem; !important;

  color: black;
    }



.cc-navbar ul li a{
text-decoration: none;
color: black;
}
.serv{
    font-size: 0.8rem;
    font-weight: bold;}
    

.image{
    width: 100%;
    height: auto;
}
    .image img{
        width: 498px;
        height: 498px;
        border-radius: 10px;
    }
   
.cccc p{
    color: red;
}
.cccc .image {
    width: 500px;
    height: 500px;
    /* border: 2px solid black; */

}

#Ima:hover{
    transform: scale(0.8);
}
@media(max-width: 755px){
  .cc .lien{
      color: red;
  }
}
/*footer*/
.foot{
    background-color: #00c4c1;
}
.col-md-3 img{
    width: 150px;
    height: 150px;
}
.col-md-2 a{
   font-size: 30px;;
}
.cc{
    
    
    align-items: center;
}
.col-md-5 p{
    font-size: 15px;
    font-weight: bold;
}
.lien  {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
     background-color: #00c4c1;
}