body {
  margin: 0;
  padding: 0;
}

.logo {
  height: 4rem;
  width: 4rem;
  margin-left: 5rem;
}
.logo1{
     height: 6rem;
    width: 6rem;
    margin-left: 4rem;
}
.cc-navbar{
    background-color: #00c4c1;
    color: black;
    font-weight: bold;
    height: 200px;
}
.navbar {
  background-color: #00c4c1;
  color: black;
  font-weight: bold;
  height: 100px;
  width: 100%;
  position: fixed !important;
  z-index: 10;
  margin-top: -10px;
}
.nav-item {
  margin-left: 5rem !important;
}
.nav-item a{
    color: white !important;
}

section{
    z-index: 2;
}
.nav-item ul li {
  list-style-type: none;
  list-style: none;
}
.fa-facebook {
  color: rgb(4, 62, 148);
}
.fa-twitter {
  color: rgb(4, 62, 148);
}
.fa-phone {
  color: #fff;
}

.fa-envelope {
  color: #fff;
}
.num li a {
  margin-right: 2rem !important;

  color: black;
}
.cc-navbar ul li a{
text-decoration: none;
color: black;
}

.footer{
    /* background-color:#00eaff;  */
    height: 4rem;
}
.serv{
    font-size: 0.8rem;
    font-weight: bold;
}
.derca{
    background-color: #00c4c1 !important;
}
.cooltxt{
    text-align: center;
}
.cooltxt h5{
    font-size: 2rem;
    color: rgb(0, 251, 239);
    margin-bottom: 6rem;
}
.cooltxt p{
    font-weight: bold;
    font-size: 1.3rem;
    color: aliceblue;
}
.cooltxt1{
    text-align: center;
}
.cooltxt1 h5{
    font-size: 2rem;
    color: blue;
    margin-bottom: 9rem;
}
.cooltxt1 p{
    font-weight: bold;
    font-size: 1.3rem;
    color:black ;
}
.cooltxt2{
    text-align: center;
}
.cooltxt2 h5{
    font-size: 2rem;
    color: rgb(24, 3, 21);
    margin-bottom: 8rem;
}
.cooltxt2 p{
    font-weight: bold;
    font-size: 1.3rem;
    color: rgb(0, 0, 0);
}

.image{
    width: 100%;
    height: auto;
}
    .image img{
        width: 498px;
        height: 498px;
        border-radius: 10px;
    }
   
.cccc p{
    color: red;
}
.cccc .image {
    width: 500px;
    height: 500px;
}

#Ima:hover{
    transform: scale(0.8);
}
/*footer*/
.foot{
    background-color: #00c4c1;
}
.col-md-3 img{
    width: 150px;
    height: 150px;
}
.col-md-2 a{
   font-size: 30px;;
}
.cc{
    align-items: center;
    font-weight: bolder;
    background-color: #00c4cc !important;
    
}
.col-md-5 p{
    font-size: 15px;
    font-weight: bold;
}
.lien  {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
     background-color: white;
}
.lien a{
    color: black !important;
    text-decoration: none;
}
.rdv{
    background-color: #00c4cc !important;
}
.ssf{
    background-color: black;
    
  }
  .fot h4{
    color: white !important;
  }
  .fot a{
    text-decoration: none;
    color: black !important;
  }
  .fot i{
    margin-right: 7px;
  }



@media only screen and (max-width: 802px){
    .navbar-nav{
        text-align: right;
        margin-bottom: 15px;
        display: inline-flex;
        
    }
    .logo{
        float: left;
    }
    .page{
    font-size: 15px;
    margin-left: 0px;}
    .lien a{
    font-size: 10px;
   
}
.carousel-item img{
    width: 100%;
    height: 30% !important;
}
.lien{
    width: 200px;
    font-size: 10px;
    align-items: center;
    margin-top: -35px;
    margin-left: 250px;
    text-align: center;
}
.cool{
    font-size: 15px;
    text-align: left;
    
}
.nav-item{
    background-color: #00eaff;
    opacity: 0.6;
    width: 150px;}
    
}
