body{
    margin: 0;
    padding: 0;
}
.navbar{
    background-color:#00c4cc !important;
    position: fixed;
    z-index: 5;
    width: 100%;
    margin-top: -10px; 
    

}
.logo{
    height: 3.5rem;
    width: 3.5rem;
}
.cc-navbar{
    color:black;
    font-weight: bold;
}
.nav-item{
    margin-left: 150px;
}
.carotem{
    height: 35rem;
    width: 100%;
    
}
.prop{
    background-color: orangered;
    border: solid 2px;
     color: rgb(1, 1, 31);
    font-weight: bold;
    
    text-align: center !important;

}
.pro{
    margin-left: 60rem;
}

.texte{
    font-weight: bold;
    font-size: 1.4rem;
    color: darkorange;
}
.text-dang{
    font-size: 3rem;
}
.real{
     background-color: orangered;
    border: solid 2px rgb(1, 1, 31);
    color: rgb(1, 1, 31);
    font-weight: bold;
    
    text-align: center !important;
}
.capti
{
    background-color: #00c4cc;
    height: 100%;
    width: 45%;
    margin-left: 30rem;
    margin-top: 65px;
}
.capti1
{
    background-color: #00c4cc;
    height: 100%;
    width: 45%;
    /* margin-left: 30rem; */
    /* margin-top: 65px; */
}
.capti h2{
    margin-top: 7rem;
    color: rgb(245, 245, 241);
    font-size: 2.5rem;
    
}
.capti p{
    font-weight: bold;
    font-size: 1.5rem;
}
section{
    z-index: 2;
}
.gogo{
    height: 300px;
    border: solid blue 3px;
}
.inner{
    height: 447px;
    margin-left: 25px;
}
.carousel-item img{
    height: 100%;
}
.text-dange{
    font-size: x-large;
    color: rgb(0, 162, 255);
}
.contener{
    height: 10rem;
    background-color: #00c4cc;  
}

.image{
    height: 4rem;
    width: 4rem;
    margin-top: 50px;
    
}
.paragraph{
   font-weight: bold;
   font-size: 1.5rem;
   margin-top: 20px;
   color: black;
}
.images{
    height: 2rem;
    width: 2rem;
}
.cal{
    font-size: 1rem;
    font-weight: bold;
    color: black;
}