body{
    margin: 0;
    padding: 0;
}
.navbar{
    background-color:#00c4cc !important;

}
.logo{
    height: 3.5rem;
    width: 3.5rem;
}
.cc-navbar{
    color:black;
    font-weight: bold;
}
.nav-item{
    margin-left: 150px;
}
.carotem{
    height: 35rem;
    width: 100%;
}
.prop{
    background-color: orangered;
    border: solid 2px;
    
    text-align: center !important;

}


 